# IntelliJ
.idea/
*.iml

# Compilation results
**/target/
**/build/
!**/src/**/build/
.project

# Node
**/node_modules

# Typescript
.tscache/
.DS_STORE


# Ignore Gradle project-specific cache directory
.gradle

.docusaurus
/scripts
