$nav-inner-height: 50px;
$nav-padding: 8px;

$search-height: 30px;
$search-width: 250px;


nav {
  width: calc(100% - 16px);
  height: $nav-inner-height;
  padding: $nav-padding;
  margin: auto;
  border-bottom: 2px solid var(--primary-color);
  user-select: none;
  position: relative;

  div.logo {
    display: inline-block;
    height: $nav-inner-height;
    width: #{$nav-inner-height * 2.685};
    background-image: url("../assets/logo/logo-black.svg");
    background-size: 100%;
  }

  ul {
    display: inline-block;
    position: absolute;
    right: $nav-inner-height + $nav-padding * 2 + 4px;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;

    li { 
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      line-height: calc(#{$nav-inner-height} + 1em);

      & + li::before {
        content: "  |  ";
        display: inline-block;
        height: 100%;
        white-space: pre;
      }

      a {
        cursor: pointer;
        display: inline-block;
        height: 100%;
        text-decoration: none;
        padding: 0px 4px;
        color: #fff;

        &:hover {
          cursor: pointer;;
          border-bottom: 2px solid #fff;

        }
      }
    }
  }

  div.search-bar {
    display: inline-block;
    position: absolute;
    right: $nav-inner-height + $nav-padding * 2 + 4px;
    top: $nav-padding + ($nav-inner-height - $search-height) / 2;
    height: $search-height;
    width: $search-width;
    opacity: 0;
    pointer-events: none;

    input.search-contents {
      background-color: var(--primary-background-color);
      border: none;
      border-radius: 0;
      outline: none;
      color: #ccc;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    input.search-contents~div.borders {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      
      span.border {
        position: absolute;
        bottom: 0;
        width: 0;
        transition: 400ms;

        &.show-border {
          right: 0%;
          height: 2px;
          background-color: #555;
        }

        &.focus-border {
          left: 50%;
          height: 2px;
          background-color: #ccc;
        }
      }
    }
     
    input:focus.search-contents~div.borders span.border.focus-border {
      width: 100%;
      transition: 0.4s;
      left: 0;
    }

    &.shown {
      display: inline-block;
      opacity: 1;
      pointer-events: inherit;
      
     
      input.search-contents~div.borders .show-border {
        width: 100%;
        transition: 0.4s;
      }
    }
  }

  button.search-button {
    background-color: var(--primary-background-color);
    color: #fff;
    border: none;
    width: $nav-inner-height + 2 * $nav-padding;
    height: $nav-inner-height + 2 * $nav-padding;
    position: absolute;
    right: 0;
    top: 0;

    i { 
      font-size: 24px;
    }
    
    &:hover {
      cursor: pointer;
      color: #aaa;
    }
  }

}