@import "../../../../node_modules/codemirror/lib/codemirror";
@import "../../../../node_modules/codemirror/addon/display/fullscreen";
@import "../../../../node_modules/codemirror/theme/darcula";

.CodeMirror {
  border: 1px solid var(--secoundary-color);
  font-size: 25px;
  padding: 8px;
}