html, body {
  --primary-background-color: #2B2B2B;
  --code-block-background-color: #444;
  --primary-font-color: #fff;
  --secoundary-font-color: #bbb;
  --primary-color: #454545;
  --secoundary-color: var(--primary-color);
}

nav div.logo { background-image: url("../assets/logo/logo-white.svg"); }

#try-shake-region {
  #try-shake-editor-region {
    position: relative;

    button#try-shake-execute-button {
      display: inline-block;
      width: 56px;
      height: 56px;
      background-color: #FF6242;
      border: 0;
      border-radius: 100%;
      position: absolute;
      right: 24px;
      bottom: 24px;
      z-index: 1000;

      i {
        color: #fff;
        font-size: 32px;
      }

      &:hover {
        right: 26px;
        bottom: 26px;
        width: 52px;
        height: 52px;
        cursor: pointer;

        i {
          font-size: 28px;
        }
      }
    }
  }

  #shake-output {
    border: 1px solid var(--secoundary-color);
    font-size: 25px;
    padding: 8px;
    font-family: monospace;
    overflow-wrap: anywhere;
    max-height: 400px;
    overflow-y: auto;

    p {
      margin: 0
    }
    p.console-log {
      color: #fff;
    }
    p.console-warn {
      color: #fd0;
    }
    p.console-error {
      color: #f00;
    }
    p.console-debug {
      color: #3af;
      display: none;
    }

  }
}