html, body {

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  --primary-background-color: #222;
  --primary-font-color: #000;
  --secoundary-font-color: #666;
  --primary-color: #555;
  background: var(--primary-background-color);

}

nav {
  width: calc(100% - 20px);
  height: 40px;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid var(--primary-color);

  img {
    height: 100%
  }

}