$nav-inner-height: 50px;

html, body {

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  --primary-background-color: #F4F4F4;
  --code-block-background-color: #D4D4D4;
  --primary-font-color: #000;
  --secoundary-font-color: #666;
  --primary-color: #ccc;
  --secoundary-color: #ddd;
  background: var(--primary-background-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-font-color);

}

nav {
  width: calc(100% - 8px);
  height: $nav-inner-height;
  padding: 8px;
  margin: auto;
  border-bottom: 1px solid var(--primary-color);

  div.logo {
    display: inline-block;
    height: $nav-inner-height;
    width: #{$nav-inner-height * 2.685};
    background-image: url("../assets/logo/logo-black.svg");
    background-size: 100%;
  }

}

#site-contents-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#site-contents {
  padding: 12px 40px 40px 40px;
  font-size: 16px;
  width: 70%;
  min-width: 800px;
  display: inline-block;

  h1, h2 {
    border-bottom: 1px solid var(--secoundary-color);
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin: 32px 0 6px 0;

    a {
      right: calc(100% + 6px);
      position: absolute;
      color: var(--primary-font-color);
      opacity: 0;
      transition: opacity ease 100ms;

      i {
        font-size: 0.8em;
      }
      &:visited {
        color: var(--primary-font-color);
      }
      &:active {
        color: #ff4500;
      }
    }
    &:hover a {
      opacity: 1;
    }
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 40px;
      right: 100%;
    }
  }

  h1 {
    font-size: 2.4em;
    padding: 0 0 6px 0;
  }
  h2 {
    font-size: 2.2em;
    padding: 0 0 4px 0;
  }
  h3 { font-size: 1.6em; }
  h4 { font-size: 1.4em; }
  h5 { font-size: 1.3em; }
  h6 { font-size: 1.2em; }

  code {
    font-family: Consolas, monospace, sans-serif;
    background-color: var(--code-block-background-color);
    display: inline-block;
    padding: 2px 4px;
    border-radius: 4px;


    // Code Highlight
    span.hljs-number { color: #ff4500; }
    span.hljs-comment { color: #666666; }
  }

  pre code {
    padding: 4px 8px;
    min-width: 400px;
    max-width: 100%;
    border-radius: 8px;
  }

  a {
    color: #777;
  }
}

@media only screen and (max-width: 880px) {
  #site-contents {
    min-width: 0;
    width: 800px;
    max-width: 100%;
  }
}
