$nav-inner-height: 50px;

html, body {

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  --primary-background-color: #F4F4F4;
  --primary-font-color: #000;
  --secoundary-font-color: #666;
  --primary-color: #ccc;
  background: var(--primary-background-color);

}

nav {
  width: calc(100% - 8px);
  height: $nav-inner-height;
  padding: 4px;
  margin: 0;
  border-bottom: 1px solid var(--primary-color);

  div.logo {
    display: inline-block;
    height: $nav-inner-height;
    width: #{$nav-inner-height * 2.685};
    background: url("../assets/logo/logo-black.svg");
    background-size: 100%;
  }

}