<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="assets/favicon-x1024.png">
  <title>Title</title>
</head>
<body>
  <nav>
    <img src="assets/logo-x1024.png" alt="">
  </nav>
</body>
</html>